
      <!-- ADD ARTICLES BUTTON -->
      <!-- EVERYTHING BELOW CAN BE PREVIEW OF EXISTING ARTICLES -->


          <h2 class="sub-header">Articles</h2>
          <p><a class="btn btn-lg btn-success" href="/create" role="button">Add article</a></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Updated on</th>
                  <th>Preview</th>
                </tr>
              </thead>
              <tbody>
                <% @articles.each do |art| %>
                    <tr>
                      <td><a href=<%="/articles/#{art["id"]}"%>><%= art["title"]%></a></td>
                      <td><a href=<%= "/users/#{art["user_id"]}"%>><%= "#{art["fname"]} #{art["lname"]}"%></a></td>
                      <td><%= art["creation_time"]%></td>
                      <td><%= art["content"][0...100]+"..."%></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
