    <div class="container">

      <form class="form_signin new_article" method="post" action=<%="/articles/#{@article["id"]}/edit"%>>
      <input type="hidden" name="_method" value="put">
        <h2 class="form-signin-heading">Update article</h2>

        <div class="input"><input type="text" name="title" class="form-control" value= <%= @article["title"] %> required autofocus></div>

        <div class="input"><textarea name="content" class="form-control" required autofocus> <%= @article["content"] %> </textarea></div>

        <div class="category">
            <label for="category">Choose a category</label>
            <select class="form-control" name="category">
                <% @categories.each do |cat| %>
                    <option value=<%="#{cat["id"]}"%>><%= "#{cat["name"]}"%></option>
                <% end %>
                <option value=<%="#{@categories.last["id"].to_i + 1}"%>>None</option>
                
            </select>
        </div>


        <button class="btn" type="submit">Submit</button>
      </form>

    </div> 
